html {
    margin: 0;
}

body {
    background-image: url(img/background.jpg);
}

.row {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*Text that needs to be white*/
#white {
    color: white;
    text-shadow: 2px blue;
}

h1,
h2,
td,
th,
tr {
    color: white;
    text-shadow: 2px blue;
}

/*The map on Locaties*/
.map {
    height: 400px;
    width: 100%;
}

/*makes the central div long enough to push the footer to the bottom of the page*/
section#home {
    min-height: 80vh;
    padding-top: 5vh;
    word-wrap: break-word !important;
}

section#cart {
    min-height: 50vh;
    padding-top: 5vh;
    word-wrap: break-word !important;
}

/*centers stuff*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*The large title in the upper jumbotron*/
.lead {
    text-align: center;
    font-weight: 600;
}

/*the central div the page's contents are located in*/
.container {
    background-image: url(img/background2.jpg);
    box-shadow: 0 0 10px 5px black inset;
    margin-top: 0.5%;
    padding: 0.5%;

}

/*the 4 connected pizzas on the index page*/
#imageindex img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*makes sure images are on top*/
#image {
    z-index: 1030;
}

/*the delete icon found on the shopping cart page*/
.deleteicon {
    width: 2vw;
    float: right;
}

/*click the pizza logo on the top jumbotron 5 times*/
.rotate {
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

/*header*/
header .jumbotron {
    background-image: url(img/header-img.jpg);
    box-shadow: 0 0 15px 5px black inset;
    background-size: cover;
    color: white;
    font-weight: 600;
    text-shadow: black 2px 2px;
    margin-bottom: 0;
}

header .nav {
    background-color: #262626;
    box-shadow: 0 0 15px 1px black inset;
    max-width: 15%;
    min-width: 30vmin;
    padding: 1%;
    font-size-adjust: auto;
}

header .jumbotron img {
    height: 20%;
    position: absolute;
    left: 10%;
    top: 2%;
}

/*footer*/

footer .jumbotron {
    background-color: #262626;
    box-shadow: 0 0 15px 5px black inset;
    color: #aaaaaa;
    text-shadow: black 2px 2px;
    padding: 1%;
    margin: 5px 0 0;
    z-index: 2;
}

footer .jumbotron ul {
    list-style: none;
}

/*about us text*/
.text-m {
    color: #FFFFFF;
    text-shadow: black 2px 2px;
    text-align: center;
    font-weight: 400;
}

.text-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.atext {
    text-align: center;
    max-width: 75vw;
    margin: auto;
    color: #FFFFFF;
    text-shadow: black 2px 2px;
}

/*order button*/
#order ul li {
    list-style: none;
    text-align-last: center;
    float: left;
}

#order .btn {
    font-size: 3rem;
    padding: 1.5rem 3rem;
    border-radius: 1.25rem;
    align-self: center;
    box-shadow: 0 0 15px 1px black inset;
}

#order ul #but1 .btn {
    background-image: url(img/Bestel_button.png);
    background-position: center;
    background-size: cover;
    width: 230%;
    border-width: 0;
}

/*pizza cards*/
#pizzas {
    position: relative;
    top: 0%;
    margin: auto;
    width: 100%;
}

/*used for viewpizza.php*/
#chart {
    border: solid 2px black;
    color: white;
    text-shadow: black 2px 2px;
    border: solid 2px black;
    color: white;
    text-shadow: black 2px 2px;
    height: 550px;
}

#chart button {
    padding: 30px;
}

#chart img {
    height: 400px;
    width: 400px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 20px;
}

/*responsive*/
@media (max-width: 1750px) {
    .text-m p {}
}

@media (max-width: 1440px) {

    #order {
        right: 40vw;
    }
}

@media (max-width: 1024px) {
    .text-m p {}

    #imageindex img {
        justify-content: center;
    }

    #order {
        right: 17vw;
    }
}

@media (max-width: 768px) {
    #text-m p {}

    section#home {
        min-height: 50vh;
        padding-top: 0vh;
        word-wrap: break-word;
    }

    section#cart {
        min-height: 20vh;
        padding-top: 0vh;
        word-wrap: break-word !important;
    }

    #imageindex img {
        display: none;
    }

    #order {
        right: 7vw;
    }
}

@media (max-width: 425px) {

    section#home {
        min-height: 50vh;
        padding-top: 0vh;
        word-wrap: break-word;
    }

    section#cart {
        min-height: 20vh;
        padding-top: 0vh;
        word-wrap: break-word !important;
    }

    #imageindex img {
        display: none;
    }

    header .jumbotron .container img {
        display: none;
    }

    #order {
        position: relative;
        display: inherit;
        margin: auto;
    }

    #order ul #but2 {
        margin-top: 20%;
        left: 0;
    }
}

/*used to make pizza spin*/
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
